.grid-stack { 
    background-color: #EEEEEE;
    border: 1px solid #9E9E9E; 
    border-top: none;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 2px #888888;
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
  
  .grid-stack-item-content { 
    background-color: #FFFFFF; 
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    margin: 2px;
    line-height: 1.2em;
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .grid-stack-item-content:hover { 
    cursor: move; /* For UX: The answer tiles shows a 'grab' cursor on mouse over */
    outline: 2px solid blue;
    outline-offset: -2px;
  }
  
  div.pl-grid-header {
    border: 1px solid #9E9E9E;
  }