<div class="interactive-visualizer">
    <div class="iv-instructions">
        <p><strong>How to use the visualization:</strong></p>
        <ul>
            <li>Click on the surface below to add a red point to the landscape.</li>
            <li>Use your mouse to rotate, pan, and zoom around the 3D space.</li>
            <li>Click <strong>“Clear Point”</strong> to reset the selected point.</li>
            <li>Use the toolbar at the upper right to reset view, take screenshots, and more.</li>
        </ul>
        <p><strong>Colour Palette:</strong> You can switch between different colour schemes below.</p>
    </div>

    <div id="colormap-selector">
        <a href="#" class="colormap-link" data-map="Colour Palette 1">Colour Palette 1</a>
        <a href="#" class="colormap-link" data-map="Colour Palette 2">Colour Palette 2</a>
        <a href="#" class="colormap-link" data-map="Colour Palette 3">Colour Palette 3</a>
        <a href="#" class="colormap-link" data-map="Colour Palette 4">Colour Palette 4</a>
    </div>

    <div id="surfacePlot"></div>

    <div id="clear-point-button">
        <a href="#" id="clearPointLink">Clear Point</a>
    </div>

    <div id="point-coordinates"></div>
</div>
