<div class="interactive-visualizer">
    <div class="iv-instructions">
        <p><strong>How to use the visualization:</strong></p>
        <ul>
            <li>Click on the surface below to add up to <strong>4</strong> points to the landscape.</li>
            <li>Click the <strong>Clear Point</strong> button to reset the added point(s).</li>
            <li>Use your mouse to rotate, pan, and zoom around the 3D space.</li>
            <li>Use the toolbar at the upper right of the plot to toggle different actions.</li>
        </ul>
    </div>

    <br>

    <div class="controls">
        <div id="clear-point-button">
            <a href="#" id="clearPointLink">Clear Point</a>
        </div>

        <div id="colormap-selector">
            <label for="colormap-select" class="visually-hidden">Colour Palette</label>
            <select id="colormap-select">
                <option value="Color Palette 1">Color Palette 1</option>
                <option value="Color Palette 2">Color Palette 2</option>
                <option value="Color Palette 3">Color Palette 3</option>
                <option value="Color Palette 4">Color Palette 4</option>
                <option value="Color Palette 5">Color Palette 5</option>
            </select>
            <span class="colormap-note">(for visual aid / accessibility only)</span>
        </div>
    </div>

    <br>

    <div id="point-coordinates"></div>

    <br>

    <div id="surfacePlot"></div>

</div>
