<pl-interactive-graph 
    inline="{{inline}}" 
    tree="{{tree}}" 
    preserve-ordering="{{preserve_ordering}}" 
    select-color="{{select_color}}" 
    min-number-nodes="{{min_number_nodes}}" 
    max-number-nodes="{{max_number_nodes}}" 
    answers="{{#answers}}{{.}}{{/answers}}" 
    partial-credit="{{partial_credit}}" 
    partial-credit-method="{{partial_credit_method}}" 
    engine="{{engine}}" 
    params-name="{{params_name}}" 
    params-name-labels="{{params_name_labels}}" 
    params-type="{{params_type}}" 
    weights="{{weights}}" 
    weights-digits="{{weights_digits}}" 
    negative-weights="{{negative_weights}}" 
    directed="{{directed}}" 
    weights-presentation-type="{{weights_presentation_type}}" 
    log-warnings="{{log_warnings}}">
</pl-interactive-graph>
